---
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio | Blaise Baptist</title>
</head>
<body>
{% include header.html %}
<main>
    <header>A list of projects</header>
    <h1>Robotics ROS localization</h1>
    <h2>Make the robot know where it is</h2>
    <h3>ROS2 humble and amcl and rf2o</h3>
    <a href="https://github.com/Thornbots/sentry_localization">A link to the repo</a>
    <img alt="A photo of sentry" src="./assets/images/SentryGZ.png" height="1080">
    <h1>Robotics ROS aiming</h1>
    <h2>Make the robot be able to hit things</h2>
    <h3>ROS2 humble and gazebo</h3>
    <a href="https://github.com/Thornbots/thornbots_pkg">A link to the repo</a>
    <video controls height="1080">
        <source src="./assets/vidoes/SentryAim_web.mp4" type="video/mp4">
        A video of sentry trying to hit a moving target
    </video>
</main>
{% include footer.html %}
</body>
</html>