---
---
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resume | Blaise Baptist</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    {% include header.html %}
    <main>A resume</main>
    Resume page (resume.html) that includes:
    The technologies you know (as an HTML unordered list)
    Your work experience (in a consistent format of your choice)
    Your education experience (in a consistent format of your choice)
    <h1>Known Technologies</h1>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>javascript</li>
        <li>c++</li>
        <li>c</li>
        <li>python</li>
        <li>ROS2</li>
        <li>linux</li>
        <li>java</li>
        <li>Robotics</li>
    </ul>
    <h1>Work Experience</h1>
    <h2>Lifeguard</h2>
    <h3>was a lifeguard over the summer 3 summers ago</h3>
    <h2>ARC internship</h2>
    <h3>coding internship 2 summers ago</h3>
    <h1>Education Experience</h1>
    <h2>High School</h2>
    <h3>The Grayson School</h3>
    <h2>Collage -- Undergrad</h2>
    <h3>Rose-Hulman</h3>
    {% include footer.html %}
</body>

</html>